<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Removes '#_=_' sequence at the end of a url that Facebook adds after login and redirect back to our site -->
    <script type="text/javascript">
        if (window.location.hash === "#_=_"){
            history.replaceState
                ? history.replaceState(null, null, window.location.href.split("#")[0])
                : window.location.hash = "";
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load socialaccount %}
    {% block title %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title-logo">
                <h1>Places Remember</h1>
            </div>
            <div class="auth-block">
                <div class="profile-wrapper">
                    {% load get_facebook_avatar_url %}
                    {% get_facebook_avatar_url as ava_url %}
                    <img src="{{ ava_url }}" class="userpic" />
                    <div class="username" style="size:14px;">{{ user }}</div>
                    <div class="profile-menu">
                        <a href="javascript:logOut()">Log Out</a>
                    </div>
                    <!-- hidden form for POST request to logout without confirmation-->
                    <form style='display: none;' method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="{% url 'index' %}"/>
                      <button id="signOutBtn" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="main profile">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

    </div>

    {% block form %}
    {% endblock form %}

    {% block scripts %}
    {% endblock %}
    <script>
        function logOut () {
            let logout_btn = document.getElementById('signOutBtn');
            logout_btn.click();
        }
    </script>
</body>
</html>