{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {{ message }}
    {% if memories %}
    Number of memories: {{ memories|length }}
        {% for memory in memories%}
        <p>
        {{ memory.title }}
        {{ memory.description }}
        </p>
        <hr>
        {% endfor %}

    {% else %}
    You have no memories
    {% endif %}
{% endblock %}

{% block map %}
<p>Map: {{ map|safe }}</p>
{% endblock %}

{% block form %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
