<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places Remember</title>
</head>
<body>
С помощью этого приложения вы сможете сохранять свои воспоминания в привязке к месту.
{% load socialaccount %}
{% providers_media_js %}
<a href="{% provider_login_url "facebook" method="oauth2" %}" id="sign_in" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
  <span class="fa fa-facebook"></span>
               Sign in with Facebook
 </a>
</body>
</html>