<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load socialaccount %}
    {% providers_media_js %}
    <title>Places Remember</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title-logo">
                <h1>Places Remember</h1>
            </div>
            <!--<div class="auth-block"> </div>-->
        </div>

        <div class="content-wrapper">
            <div class="main">
                <p><strong>Places Remember</strong> - это сайт, где вы можете сохранить ваши воспоминания с привязкой к
                    координатам. Войдите, что начать пользоваться.</p>

                <button onclick="location.href='{% provider_login_url "facebook" method="oauth2" %}'" type="button" class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button>

            </div>
            <div class="sidebar"> </div>
        </div>
    </div>
</body>

</html>